{% extends "layout.html.twig" %}

{% block content %}
    <div ng-controller="RentController">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Data Book
                    </div>
                    <div class="panel-body">
                        <div class="container m-b">
                            <div class="row">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRentModal">Sewa</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Member</th>
                                        <th>Buku</th>
                                        <th>Tanggal Pinjam</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in books">
                                        <th>{[{ row.order_number }]}</th>
                                        <th>{[{ row.member_name }]}</th>
                                        <th>{[{ row.book_title }]}</th>
                                        <th>{[{ row.start_date }]}</th>
                                        <th>
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal" ng-click="parseDataRent(row)">Edit Buku</a>
                                            <a href="" class="btn btn-danger deleteRentButton" ng-click="deleteRent(row)">Hapus</a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addRentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Penyewaan</h4>
                    </div>
                    {% verbatim %}
                        <div class="modal-body">
                            <form id="addBookForm">
                                <div class="form-group">
                                    <label for="title">Order Number</label>
                                    <input name="isbn" type="text" class="form-control" placeholder="Order Number" ng-model="rent.order_number">
                                </div>
                                <div class="form-group">
                                    <label for="title">Member</label>
                                    <select class="form-control" name="member_id" ng-model="rent.member_id">
                                        <option ng-repeat="member in members" value="{[{member.id}]}">{[{member.name}]}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Buku</label>
                                    <select class="form-control" name="publisher_id" ng-model="rent.book_id">
                                        <option ng-repeat="book in books" value="{[{book.id}]}">{[{book.name}]}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Tanggal Penyewaan</label>
                                    <input name="start_date" type="text" class="form-control" placeholder="YYYY-MM-DD" ng-model="rent.start_date">
                                </div>
                                <div class="form-group">
                                    <label for="title">Tanggal Pengembalian</label>
                                    <input name="return_date" type="text" class="form-control" placeholder="YYYY-MM-DD" ng-model="rent.return_date">
                                </div>
                            </form>
                        </div>
                    {% endverbatim %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary addRentButton">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
